.btn_cart{
    background-color: rgb(251, 211, 53);
    color: black;
    font-weight: bold;
}

.text_cart{
font-weight: bold;
}

.btn-link{
        color: black;
        font-weight: bold; 
        text-decoration: none;
    
}