
<div class="container" style="margin-top: 12vh;">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div id="accordion">
                <div class="card" style="box-shadow:0 1px 8px #bbb;">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                LOGIN OR SIGNUP
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Enter your email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                placeholder="Enter your password">
                                        </div>
                                        <button class="btn btn-block btn_cart">Login</button>
                                        <br />
                                        Forget Password ?
                                    </form>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                                    <button type="button" data-toggle="modal" data-target="#exampleModal"
                                        class="btn btn-block btn_cart">Register Now</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">Register User</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                <div class="row">
                                                    <div class="container">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                         <form>
                                                             <div class="form-row text-left">
                                                                 <div class="form-group col-md-6">
                                                                   <label for="FirstName">First name</label>
                                                                   <input type="text" class="form-control">
                                                                 </div>
                                                                 <div class="form-group col-md-6">
                                                                    <label for="lastName">Last name</label>
                                                                    <input type="text" class="form-control">
                                                                  </div>
                                                                  <div class="form-group col-md-6">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" class="form-control">
                                                                  </div>
                                                                  <div class="form-group col-md-6">
                                                                    <label for="mobileNumber">Mobile Number</label>
                                                                    <input type="number" class="form-control">
                                                                  </div>
                                                                  <div class="form-group col-md-6">
                                                                    <label for="password">Password</label>
                                                                    <input type="password" class="form-control">
                                                                  </div>
                                                                  <div class="form-group col-md-6">
                                                                    <label for="cPassword">Confirm Password</label>
                                                                    <input type="password" class="form-control">
                                                                  </div>
                                                             </div>
                                                         </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="button" data-dismiss="modal" class="btn btn-primary">Register</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <span> Or</span>
                                    <br />
                                    <button class="btn btn-block btn_cart">Checkout As a Guest</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="box-shadow:0 1px 8px #bbb;">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                ORDER SUMMARY
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header text-left bg-white p-4 text_cart">
                                    MY CART(0)
                                </div>
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <img src="../../../../assets/product/rawwhey/TruNativ Raw Isolate Front.png"
                                                class="img-fluid" alt="">
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-8">
                
                                            <h6 class="text-left text_cart">RAW WHEY CONCENTRATE</h6>
                                            <br />
                                            500 MG
                                            <br />
                                            <br />
                                            <h5 class="text-left">RS.3099</h5>
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 mt-4">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">MINUS</div>
                                                <div class="col-sm-4 col-md-4 col-lg-4 d-flex">
                                                    <form>
                                                        <div class="form-group">
                                                            <select class="form-control">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    PLUS
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
                                            <button class="btn btn-block"
                                                style="background-color: #e45966; font-weight: bold;">Remove</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mt-4">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <img src="../../../../assets/product/rawwhey/TruNativ Raw Isolate Front.png"
                                                class="img-fluid" alt="">
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-8">
                
                                            <h6 class="text-left text_cart">RAW WHEY CONCENTRATE</h6>
                                            <br />
                                            500 MG
                                            <br />
                                            <br />
                                            <h5 class="text-left">RS.3099</h5>
                                        </div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 mt-4">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">MINUS</div>
                                                <div class="col-sm-4 col-md-4 col-lg-4 d-flex">
                                                    <form>
                                                        <div class="form-group">
                                                            <select class="form-control">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    PLUS
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
                                            <button class="btn btn-block"
                                                style="background-color: #e45966; font-weight: bold;">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="box-shadow:0 1px 8px #bbb;">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                DELIVERY ADDRESS
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                       <div class="card-body">
                         <button class="btn btn_cart">Add Address</button>
                         <br/>
                         <br/>
                         <form>
                            <div class="form-row text-left">
                                <div class="form-group col-md-6">
                                  <label for="FirstName">First name</label>
                                  <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                   <label for="lastName">Last name</label>
                                   <input type="text" class="form-control">
                                 </div>
                                 <div class="form-group col-md-6">
                                   <label for="mobileNumber">Mobile Number</label>
                                   <input type="number" class="form-control">
                                 </div>
                                 <div class="form-group col-md-6">
                                   <label for="pinCode">Pin Code</label>
                                   <input type="number" max="6" class="form-control">
                                 </div>
                                 <div class="form-group col-md-6">
                                   <label for="country">Country</label>
                                   <select class="form-control" disabled>
                                       <option value="India">India</option>
                                   </select>
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="state">State</label>
                                    <select class="form-control" disabled>
                                        <option value="Maharashtra">Maharashtra</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="landmark">LandMark (Optional)</label>
                                        <input class="form-control" type="text">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="alternateMobile">Alternate Mobile Number (Optional)</label>
                                        <input class="form-control" type="number">
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label for="address">Address</label>
                                        <textarea class="form-control" type="text"></textarea>
                                  </div>
                            </div>
                            <button class="btn btn_cart btn-block">Save And Deliver Here</button>
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card" style="box-shadow:0 1px 8px #bbb;">
                <div class="card-header bg-white p-4 text_cart">
                    PRICE DETAILS
                </div>
                <div class="card-body bg-white">
                    <table class="table text-center table-borderless">
                        <tbody>
                            <tr>
                                <td>Price</td>
                                <td> RS. 2000</td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>RS. 2000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-white">
                    <table class="table table-borderless text-center">
                        <tbody>
                            <tr>
                                <td>Total</td>
                                <td>RS. 6000</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn-block btn btn_cart">Place Order</button>
                </div>
            </div>

            <h6 class="mt-3 text-center">
                Safe Payment Options & Easy Returns.
                100% Authentic Products.
            </h6>
            <hr>
        </div>
    </div>
</div>