.form-control{
    background: 0 0;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: inherit;
}

label{
    font-weight: bold;
    font-size: large;
    font-stretch: expanded;
}

.btn{
    background-color: rgb(251, 211, 53);
    font-weight: bold;
    font-size: large;
}