<!-- Header Import -->
<app-header></app-header>

<!-- Page start -->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-12 col-md-12">
           <h1 class="mt-4"> Blogs</h1>
            <div class="container-fluid mt-4">
                <div class="card" style="border:none; box-shadow:0 1px 8px #bbb;">
                    <div class="card-body">
                        <img src="../../../assets/product/rawwhey/TruNativ Raw Isolate Back.png" width="200px"
                            class="img-fluid" alt="">
                        <h6>22-10-2020</h6>
                        <h5>Stay Healthy This Navratri !</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Import -->
<app-footer></app-footer>