<nav class="navbar navbar-expand-sm ">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../../assets/homepage/headerlogo 2.png" class="img-fluid" style="height: 5vh;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item active">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Whey
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Froat
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">
            <img class="img-fluid" style="height: 4vh;" src="../../../../assets/homepage/carticon.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
      </div>
    </nav>
  