<!-- Header Start -->
<app-header></app-header>

<!-- Page Start -->
<div class="container-fluid text-center mt-4">
    <h2 style="font-weight: bolder;">ITS ALL ABOUT THE BALANCE</h2>
    <div class="card" style="border:none; box-shadow:0 1px 8px #bbb;">
        <div class="card-body p-5">
            <h5 class="p-3">
                Between a hectic work life and spending precious time with loved ones. Digging into that indulgent ice
                cream
                and a wholesome salad. Keeping the house clean and organised, but also getting some much deserved me
                time.
                Its only when we find this balance that we can live our life to its fullest potential.
            </h5>
            <h5 class="p-3">
                TruNATIV is a wellness and nutrition group, dedicated to creating nutritionally complete yet convenient
                products. We are committed to providing you with the balanced nutrition you need to pursue your fitness
                passions. Our affordable yet pure natural products reap the benefits of the wholesome goodness of each
                ingredient and leave a minimal imprint on our environment.
            </h5>
        </div>
    </div>
</div>

<!-- Footer Import -->
<app-footer></app-footer>