<!-- Header Import -->
<nav class="navbar navbar-expand-sm ">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../../../assets/homepage/headerlogo 2.png" class="img-fluid" style="height: 5vh;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item active">
          <a class="nav-link" href="#">Shop</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Whey
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Froat
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">
            <img class="img-fluid" style="height: 4vh;" src="../../../../assets/homepage/carticon.png" alt="">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
      </div>
    </nav>
  
<!--Page start  -->

<!-- 1 . Home Page Main Banner -->
<div class="container-fluid home_page_banner text-center" style="height:500px; padding-top: 150px; overflow: hidden;">
    <h1 class="creaftText animate__animated animate__backInDown">crafted by nature</h1>
    <h2>Real ingredients, straight from the source, and nothing else</h2>
</div>

<!-- 2. Trunative Promise Section -->
<div class="container-fluid text-center">
    <div class="row ">

        <div class="col-sm-12 col-4">
            <h1 class="mt-4">The Trunative Promise</h1>
            <h5 class="mt-4 text-center" style="font-weight: bold;">At TruNativ®, we stay close to nature. It means
                providing you with
                products with minimal processing to preserve the wholesome goodness
                of the bounty of nature.</h5>
        </div>

    </div>
</div>

<!-- 3 .third section -->
<div class="container-fluid text-center mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="../../../../assets/homepage/EC 400.png" alt="" class="img-fluid third_section">

            <h4>We leave a minimal imprint
                on the environment</h4>
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="../../../../assets/homepage/rf 400.png" alt="" class="img-fluid third_section">
            
            <h4>No hidden names
                you won't recognise!
            </h4>
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="../../../../assets/homepage/science 400.png" alt="" class="img-fluid third_section">
            <h4>Tested and re-tested
                to ensure high quality</h4>
        </div>
    </div>
</div>

<!-- 4 . Forth Section -->
<div class="container-fluid mt-4">

<div class="row">
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-4">
        <img src="../../../../assets/homepage/whey500 and splash.png" alt="" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-4">
        <img src="../../../../assets/homepage/froat box and splash.png" alt="" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-2"></div>
</div>
</div>

<!-- 5 .Section start -->
<div class="container-fluid text-center mt-4">
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1 style="font-weight: bold;">Pure, Natural Goodness</h1>

    <h3>That's all you'll get from us, promise!</h3>
    
    <h4>We believe that nature has all the answers, and our products reflect that.</h4>
  </div>
</div>
</div>

<!-- Footer Import -->
<app-footer></app-footer>