
<div class="container" style="margin-top: 6vh;">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="card" style="box-shadow:0 1px 8px #bbb;">
                <div class="card-header text-left bg-white p-4 text_cart">
                    MY CART(0)
                </div>
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <img src="../../../../assets/product/rawwhey/TruNativ Raw Isolate Front.png"
                                class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8">

                            <h6 class="text-left text_cart">RAW WHEY CONCENTRATE</h6>
                            <br />
                            500 MG
                            <br />
                            <br />
                            <h5 class="text-left">RS.3099</h5>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8 mt-4">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">MINUS</div>
                                <div class="col-sm-4 col-md-4 col-lg-4 d-flex">
                                    <form>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    PLUS
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
                            <button class="btn btn-block"
                                style="background-color: #e45966; font-weight: bold;">Remove</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <img src="../../../../assets/product/rawwhey/TruNativ Raw Isolate Front.png"
                                class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8">

                            <h6 class="text-left text_cart">RAW WHEY CONCENTRATE</h6>
                            <br />
                            500 MG
                            <br />
                            <br />
                            <h5 class="text-left">RS.3099</h5>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8 mt-4">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">MINUS</div>
                                <div class="col-sm-4 col-md-4 col-lg-4 d-flex">
                                    <form>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    PLUS
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
                            <button class="btn btn-block"
                                style="background-color: #e45966; font-weight: bold;">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-4 bg-white">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <button class="btn btn-block btn_cart">Continue Shopping</button>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <button class="btn btn-block btn_cart" routerLink="/payment">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="card" style="box-shadow:0 1px 8px #bbb;">
                <div class="card-header bg-white p-4 text_cart">
                    PRICE DETAILS
                </div>
                <div class="card-body bg-white">
                    <table class="table text-center table-borderless">
                        <tbody>
                            <tr>
                                <td>Price</td>
                                <td> RS. 2000</td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>RS. 2000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-white">
                    <table class="table table-borderless text-center">
                        <tbody>
                            <tr>
                                <td>Total</td>
                                <td>RS. 6000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container mt-5">
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Enter your coupon code" class="form-control">
                    </div>
                    <button class="btn btn-block btn_cart">Apply</button>
                </form>
            </div>

           <h6 class="mt-3 text-center">
            Safe Payment Options & Easy Returns.
            100% Authentic Products.
           </h6> 
            <hr>
        </div>
        
    </div>
</div>